DATABASE_ENGINE=postgres
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=sqlight
PGUSER=Thriveni
PGPASSWORD=your_postgres_password_here
JWT_SECRET_KEY=at_least_32_bytes_super_secret_jwt_key_example
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,http://localhost:4173,http://127.0.0.1:4173,http://localhost:3000,http://127.0.0.1:3000
